form {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem 1rem;
}

form.experience {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
}

form.experience > .arealabel,
.paragraph {
  grid-column: 1 / 4;
}
