form {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem 1rem;
}

form.informations {
  gap: 3rem;
}

form.informations,
form.experience {
  grid-auto-flow: row;
}

form.experience {
  grid-template-columns: repeat(3, 1fr);
}
.areadiv {
  margin: 3rem 0;
  position: relative;
  grid-column: 1 / 4;
}

.arealabel {
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s ease-in;
  font-size: 1.5rem;
}

textarea:focus + .arealabel,
textarea:not(:placeholder-shown) + .arealabel {
  top: -2rem;
}
