form {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem 1rem;
}

form.informations {
  gap: 3rem;
}

form.informations,
form.experience {
  grid-auto-flow: row;
  justify-items: start;
}

form.education,
form.experience {
  grid-template-columns: 1fr 1fr 0.5fr;
  justify-items: start;
}

.areadiv {
  margin: 3rem 0;
  position: relative;
  grid-column: 1 / 4;
  width: 100%;
}

.arealabel {
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s ease-in;
  font-size: 1.5rem;
}

textarea:focus + .arealabel,
textarea:not(:placeholder-shown) + .arealabel {
  top: -2rem;
}

form.experience > .paragraph {
  grid-column: 1 / 4;
}

div.name {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 1px 1px 5px lightgray;
}

div.skill,
.paragraph {
  max-width: 33ch;
}

div.study,
div.position {
  font-weight: bold;
  text-transform: uppercase;
}

.paragraph {
  max-width: 66ch;
  white-space: pre-wrap;
  line-height: 1.5;
  padding: 0.5rem;
}
