.listcontent {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  align-items: center;
}

ul {
  display: grid;
  gap: 2rem;
}

li {
  list-style: none;
}

.addbtn {
  justify-self: start;
}
