h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid black;
  font-family: 'Cinzel', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

.informationsh2,
.skillsh2 {
  border-bottom: 1px solid white;
}

section {
  position: relative;
  display: grid;
}

section > ul,
section > form {
  padding: 1rem;
}

.editbtn,
.updatebtn {
  position: absolute;
  top: -1rem;
  right: 0%;
}

@media (max-width: 1010px) {
  .informations .editbtn,
  .informations .updatebtn {
    right: -10%;
  }
}
