h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid black;
}

section {
  position: relative;
  display: grid;
}

section > ul,
section > form {
  padding: 1rem;
}

.editbtn,
.updatebtn {
  position: absolute;
  top: -1rem;
  right: 0%;
}
