:root {
  font-size: 62.5%;
}

button {
  padding: 0.5rem;
}

textarea {
  width: 100%;
  resize: none;
}

body {
  margin: 1rem;
  padding: 1rem;
}

.cv {
  display: grid;
}

main {
  padding: 2.5rem;
  display: grid;
  gap: 5rem;
  box-shadow: 0px 0px 3px black;
  justify-self: center;
}
