:root {
  font-size: 62.5%;
}

button {
  margin: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

button > img {
  max-width: 3rem;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 0.1rem;
}

body {
  margin: 1rem;
  padding: 1rem;
}

.cv {
  display: grid;
}

main {
  padding: 2.5rem;
  display: grid;
  gap: 5rem;
  box-shadow: 0px 0px 3px black;
  justify-self: center;
  font-size: 1.75rem;
  min-width: 50vw;
}
